<html ng-app="myModule">
  <head>
    <script src="http://code.angularjs.org/angular-1.0.0rc10.min.js"></script>
    <script src="controllercommunication.js"></script>
  </head>
  <body>
    <div ng-controller="ControllerZero">
      <input ng-model="message" >
      <button ng-click="handleClick(message);">LOG</button>
    </div>
    
    <div ng-controller="ControllerOne">
      <input ng-model="message" >
    </div>
    
    <div ng-controller="ControllerTwo">
      <input ng-model="message" >
    </div>
    
  </body>
</html>
